aside#aside
    section#friends
        header
            h2 People
        ul
            - if (typeof friends !== 'undefined') {
                each friend in friends
                    li
                        a(href='#') #{friend.name}
            - }