.controls
    a(href='#back').back Back
    a(href='#forward').forward Forward
include search
#user
    a(href='#')
        img(src='#').avatar #{username}
    ul
        li
            a(href='#') Fredrik Gustafsson


