title='Spotify Remote'
meta(charset="utf8")
script(src='/jquery.min.js')
script(src='/socket.io/socket.io.js')
script(src='/main.js')
script(src='/html5slider.js')
link(rel='stylesheet', href='/style.css')