doctype 5
html(lang="en")
    head
        include includes/head
    body
        .spotify-remote
            #header
                include includes/header
            #content
                include includes/playlists
                include includes/playqueue
                include includes/friends
            #footer
                include includes/player
