h1{
	margin:0 0 10px;
	color: #fff;
}
a{
	color: #ccc;
	text-decoration:none;
}
a img{
border:none;	
}
ul{
	margin:0;
	padding:0;
	list-style:none;
}
li{
	padding:0;
	margin:0;
}
[draggable=true] {
  -khtml-user-drag: element;
}
input{
-webkit-appearance: none;
-webkit-background-clip: padding-box;
background: #fff;
box-shadow: 0 1px 2px rgba(0,0,0,0.4) inset;
border:1px solid #222;
border-radius:30px;
}
input:focus{
outline: 0;
border-color: darkblue;
}
html{
	overflow:visible;
	color: #999;
	height:100%;
	margin:0;
	font: 12px "Segoe UI", arial, sans-serif;
	
}
body{
	width:100%;
	padding:0;
	margin:0 0;
	height:100%;
	padding: 0;
	overflow:visible;
}
[disabled]{
	opacity:.5;
	pointer-events: none; 
}
.playlist .current, 
.playlist .current a,
.playlist .current .star{
	color: #afff84;
}
#header{
	color: #222;
	position:fixed;
	left:0;
	top:0;
	width:100%;
	height:30px;
	background: #d0d0d0;
	background: -moz-linear-gradient(top, #d0d0d0 0%, #959595 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#d0d0d0), color-stop(100%,#959595));
	background: -webkit-linear-gradient(top, #d0d0d0 0%,#959595 100%);
	background: -o-linear-gradient(top, #d0d0d0 0%,#959595 100%);
	background: -ms-linear-gradient(top, #d0d0d0 0%,#959595 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d0d0d0', endColorstr='#959595',GradientType=0 );
	background: linear-gradient(top, #d0d0d0 0%,#959595 100%);
	display:block;
	padding:10px 0;
	z-index:1;
	border-bottom: 1px solid #404040;
}
#header a{
	color: #222;
}
#search{
	float:left;
}
.controls{
	float:left;
	margin:0 10px;
}
#user{
	position:absolute;
	right:5px;
	top:10px;
	left:auto;
	text-align:right;
	width:200px;
}
#user .avatar{	
	float:right;
}
#user ul{
	display:none;
}
#content{
	position:absolute;
	width:100%;
	bottom:50px;
	top:50px;
	padding:0;
	background: #363636;
}
#playlists{
	position:absolute;
	width: 200px;
	background: #474747;
	overflow:visible;
	top:0;
	bottom:0;
	margin-bottom:0;	
}
#playlists nav{
	overflow:auto;
	position:absolute;
	width:100%;
	top:0;
	bottom:50px;
}
#playlists nav a:before{
	content: "\266C";
	padding: 0 5px 0 0;
}
#playlists nav a.new-list:before{
	content: "+";
}
#playlists ul{
	padding-bottom: 10px;
	border-bottom:1px solid #333;
	margin-bottom:0;
	padding:0;
}
#playlists a{
	padding: 2px 10px;
	display:block;
}
#playlists a.selected{
	background: #bee7ff;
	background: -moz-linear-gradient(top, #bee7ff 0%, #8cd0ff 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#bee7ff), color-stop(100%,#8cd0ff));
	background: -webkit-linear-gradient(top, #bee7ff 0%,#8cd0ff 100%);
	background: -o-linear-gradient(top, #bee7ff 0%,#8cd0ff 100%);
	background: -ms-linear-gradient(top, #bee7ff 0%,#8cd0ff 100%);
	background: linear-gradient(top, #bee7ff 0%,#8cd0ff 100%);
	color: #333;
}
#current{
	position:absolute;
	bottom:0;
	width:100%;
	height:50px;
	border-top: 1px solid #000;
	background: #656565;
	background: -moz-linear-gradient(top, #656565 0%, #282828 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#656565), color-stop(100%,#282828));
	background: -webkit-linear-gradient(top, #656565 0%,#282828 100%);
	background: -o-linear-gradient(top, #656565 0%,#282828 100%);
	background: -ms-linear-gradient(top, #656565 0%,#282828 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#656565', endColorstr='#282828',GradientType=0 );
	background: linear-gradient(top, #656565 0%,#282828 100%);
}
#current figure{
	padding:0;
	margin:0;
}
#main, #search-section{
	overflow:auto;
	padding:20px 0;
	position:absolute;
	top:0;
	left:200px;
	right:200px;
	bottom:0;
}
#main.is-hidden, #search-section.is-hidden {
	display: none;
}
#main header,
#search-section header{
	margin:-20px 0 0;
}
#aside{
	position:absolute;
	top:0;
	bottom:0;
	right:0px;
	width:200px;
	background: #474747;
	overflow:auto;
}
.e-resize{
	position:absolute;
	right: -2px;
	width:4px;
	height:100%;
	cursor: col-resize;	
}
.w-resize{
	position:absolute;
	left: -2px;
	width:4px;
	height:100%;
	cursor: col-resize;	
}
.s-resize{
	position:absolute;
	bottom: -2px;
	height:4px;
	width:100%;
	cursor: row-resize;	
}
.n-resize{
	position:absolute;
	top: -2px;
	height:4px;
	width:100%;
	cursor: row-resize;	
}
.e-resize.dragging,
.w-resize.dragging,
.n-resize.dragging,
.s-resize.dragging{
	
}
#footer{
	position:absolute;
	height:30px;
	width:100%;
	bottom:0;
	left:0;
	background: #606060;
	background: -moz-linear-gradient(top, #606060 0%, #4f4f4f 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#606060), color-stop(100%,#4f4f4f));
	background: -webkit-linear-gradient(top, #606060 0%,#4f4f4f 100%);
	background: -o-linear-gradient(top, #606060 0%,#4f4f4f 100%);
	background: -ms-linear-gradient(top, #606060 0%,#4f4f4f 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#606060', endColorstr='#4f4f4f',GradientType=0 );
	background: linear-gradient(top, #606060 0%,#4f4f4f 100%);
	padding:10px 0;
}
#player{
	width:98%;
	float:left;
	padding: 0 1%;
}
#player button{
	-webkit-background-clip: padding-box;
	float:left;
	background: #dadada;
	background: -moz-linear-gradient(top, #dadada 0%, #858585 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#dadada), color-stop(100%,#858585));
	background: -webkit-linear-gradient(top, #dadada 0%,#858585 100%);
	background: -o-linear-gradient(top, #dadada 0%,#858585 100%);
	background: -ms-linear-gradient(top, #dadada 0%,#858585 100%);
	background: linear-gradient(top, #dadada 0%,#858585 100%);
	-moz-border-radius: 50%;
	-webkit-border-radius: 500px;
	border-radius:50%;
	padding: 10px;
	width:auto;
	border:none;
	border-top:1px solid #d8d8d8;
	border-bottom:  1px solid #262626;
	color: #1c1c1c;
	text-shadow: 1px 0 0 #d7d7d7;
	width: 30px;
	height:30px;
	line-height:30px;
	text-indent: -999px;
	position:relative;
	margin: 0 2px;
	cursor:pointer;
}
#player .play,
#player .pause{
	height:35px;
	width:35px;
	line-height:35px;
	margin-top:-3px;
} 
#player .play:after,
#player .pause:after{
	content: "\2023";
	position: absolute;
	left: 0;
	right: 0;
	text-align: center;
	text-indent: 0;
	top: 0;
	bottom: 0;
	line-height: 30px;
	font-size:25px;
	font-weight: bold;
}
#player .pause:after{
	content: "II";
	font-weight:bold;
	font-size:20px;
	line-height:33px;
}
#player .next:after{
	content: "\2023\2023I";
	position: absolute;
	left: 0;
	right: 0;
	text-align: center;
	text-indent: 0;
	top: 0;
	bottom: 0;
	line-height: 25px;
	font-weight: bold;
	letter-spacing: -1px;
}
#player .prev:after{
	content: "\2023\2023I";
	position: absolute;
	left: 0;
	right: 0;
	text-align: center;
	text-indent: 0;
	top: 0;
	bottom: 0;
	line-height: 25px;
	font-weight: bold;
	letter-spacing: -1px;
	-webkit-transform: rotate(180deg);	
	-moz-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	-o-transform: rotate(180deg);
	transform: rotate(180deg);
}
.playmode{
	position: absolute;
	right: 8px;
	top: 50%;
	margin-top: -16px;

}
.playmode input[type=checkbox]{
	z-index:-1;
	position:absolute;
}
.playmode input[type=checkbox] + label{
	font-size:30px;
	font-weight:bold;
}
.playmode input[type=checkbox]:checked + label{
	color: #01c001;
	position:relative;
 	-webkit-mask-image: -webkit-gradient(linear, left top, left bottom, from(rgba(1,192,1,1)), to(rgba(109,222,8,0)));
  }
.playmode #shuffle:checked:after{
  content: "Shuffle";
  color: #6DDE08;
  position:absolute;
  top:0;
  left:0;
}
#volume-container{
	width:100px;
	float:left;
	padding: 0 30px 0 20px;
	position:relative;
}

#volume-container:after{
	content: ")";
	font-weight: bold;
	font-size: 15px;
	position: absolute;
	right: 20px;
	top: 50%;
	height: 20px;
	margin-top:-10px;
}
#volume-container:before{
	content: ")";
	font-weight: bold;
	font-size: 22px;
	position: absolute;
	right: 13px;
	height: 30px;
	top: 50%;
	margin-top:-14px;
}
#volume-container.medium:after,
#volume-container.high:after,
#volume-container.high:before{
color: #fff;
}
#timeline-container{
	overflow:hidden;
	padding:0 50px;
	position:relative;
	line-height: 25px;
}
.duration{
position:absolute;
left:20px;
top:5px;
}
.tracklength{
position:absolute;
right:17px;	
top:5px;
}
#timeline-container input[type=range] {
	width: 85%
}
input[type=range]{
	width:100%;
	padding:0;
	margin: 10px 0;
	-webkit-appearance: none;
	background:#333;
	height:7px;
	border-radius: 5px;
	-moz-transition: all 1s linear;
	-webkit-transition: all 1s linear;
}
input [type=range]::-webkit-slider-thumb {
    -webkit-appearance: none !important;
    background:blue;
    height:10px;
    width:10px;
		border-radius: 5px;
}
header,
th{
	color:#373737;
	background: #acacac;
	background: -moz-linear-gradient(top, #acacac 0%, #979797 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#acacac), color-stop(100%,#979797));
	background: -webkit-linear-gradient(top, #acacac 0%,#979797 100%);
	background: -o-linear-gradient(top, #acacac 0%,#979797 100%);
	background: -ms-linear-gradient(top, #acacac 0%,#979797 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#acacac', endColorstr='#979797',GradientType=0 );
	background: linear-gradient(top, #acacac 0%,#979797 100%);
	height:30px;
	line-height:30px;
	border-right:1px solid #282828;
	color: #373737;
}
header h1,
header h2,
header h3{
	font-size:14px;
	font-weight:normal;
	display:inline-block;
	padding: 0 10px;
	margin:0;
}
header h1{
	color: #fff;
	background: #373737;
	background: -moz-linear-gradient(top, #404040 0%, #373737 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#404040), color-stop(100%,#373737));
	background: -webkit-linear-gradient(top, #404040 0%,#373737 100%);
	background: -o-linear-gradient(top, #404040 0%,#373737 100%);
	background: -ms-linear-gradient(top, #404040 0%,#373737 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#404040', endColorstr='#373737',GradientType=0 );
	background: linear-gradient(top, #404040 0%,#373737 100%);
}
table{
	width:100%;
	margin:0 0 20px;
	border-collapse:collapse;
}
tr:nth-child(2n+1){
	background: #313131;
}
th{
	text-align:left;
	height:20px;
	line-height:20px;
	padding: 0 5px;
	font-size:11px;
	text-shadow: 0 1px 0 #ccc;
}
td{
	text-align:left;
	padding: 0 5px;
}
.center{
	text-align:center;
}
.right{
	text-align:right;
}
.star a{
	text-align:center;	
	color: #303030;
	text-shadow: 0 0 1px #000;
	font-size: 15px;
}
.star a:hover{
	color: #262626;
}
.star a.stared{	
	color: #ede128;
	text-shadow: 0 0 1px #fff;
}
@media (max-width:800px){
	#main, #search-section{
	right:0;
	}
	#aside{
	display:none;
	}
}
@media (max-width:500px){
	#main, #search-section{
	left:0;
	}
	#playlists{
	display:none;
	}
}